doctype html
html
   head
        title Judges
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

   body
    .container
      h2 Judges
      
      a(href='/insertjudges/insert' class='btn btn-primary') Tambah Data
      table.table.table-condensed
        thead
          tr
            th no
            th Code
            th Nama
            th Instansi
            th Telepon
            th Email
            th Action
        tbody
        each el in data
          tr
            td(contenteditable='true') #{el.no}
            td(contenteditable='true') #{el.code}
            td(contenteditable='true') #{el.nama}
            td(contenteditable='true') #{el.instansi}
            td(contenteditable='true') #{el.telp}
            td(contenteditable='true') #{el.email}
            td
              a.btn.btn-primary(href='/juri/' +el.no) Edit            
            td
              form(name='delete-item'+el.no action='/delete' method='POST')
                input(type='hidden' name='no' value=el.no)
                input(name='delete-btn' class='btn btn-xs btn-danger' type='submit' value='x') 


    